@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/font/GothamPro.woff2") format("woff2"),
    url("../fonts/font/GothamPro.woff") format("woff");
}
